{#<div class="box" id="add_owner">#}
{#	<p class="subtitle is-5">#}
{#		Добавить нового поставщика#}
{#	</p>#}
{#	{{ form.owner.lable(class='lable is-small') }}#}
{#	<div class="field">#}
{#		<div class="control">#}
{#			{{ form.owner(class='input is-small') }}#}
{#		</div>#}
{#	</div>#}
{#	<button class="button is-warning mb-2" type="submit">Добавить</button>#}
{#</div>#}


{#<input class="input is-small mb-2" type="text" name="add_owner" id="add_owner">#}


<div class="box" id="add_owner">
	<p class="subtitle is-5">
		Добавить нового поставщика
	</p>
	<div class="field">
		<label class="label is-small">наименование компании</label>
		<div class="control">
			<input class="input is-small mb-2" type="text" name="add_owner" id="add_owner">
		</div>
	</div>
	<button class="button is-warning mb-2" type="submit">Добавить</button>
</div>
