{% extends 'base/base_core.html' %}

{% block title %}
	Главная страница
{% endblock title %}

{% block page_name %}
	<p class="title is-3 is-flex is-justify-content-center">
		Табель работы спецтехники
	</p>
{% endblock %}

{% block img_under_name %}
	<img src="{{ url_for('static', filename='logo2.png') }}" alt="Logo">
{% endblock %}

{% block center_left %}
	<p class="subtitle is-4">
		Добавить данных в отчет
	</p>
	<form action="{{ url_for('core.create_report') }}" method="POST">
		{% for row in report_form %}
			<div class="columns">
				{% for field in row if field.widget.input_type != 'hidden' %}
					<div class="column">
						<div class="field">
							<div class="control">
								{{ field.label(class='label is-small') }}
								{% if field.name.endswith('owner') %}
									<select class="input is-small" name="{{ field.name }}"
									        id="owner_{{ field.name.split('-')[0] }}"
									        hx-get="{{ url_for('core.owners') }}"
									        hx-target="#machines_{{ field.name.split('-')[0] }}">
										{% for value, display in field.choices %}
											<option value="{{ value }}">{{ display }}</option>
										{% endfor %}
									</select>
								{% elif field.name.endswith('machine') %}
									<select class="input is-small" name="{{ field.name }}"
									        id="machines_{{ field.name.split('-')[0] }}"
									        hx-get="{{ url_for('core.models') }}"
									        hx-target="#models_{{ field.name.split('-')[0] }}">
										{{ field(class='input is-small', id='teh') }}
									</select>
								{% elif field.name.endswith('model') %}
									<select class="input is-small" name="{{ field.name }}"
									        id="models_{{ field.name.split('-')[0] }}">
										{{ field(class='input is-small', id='teh') }}
									</select>
									{#  {{ field(class='input is-small', id="models") }}#}
								{% else %}
									{{ field(class='input is-small') }}
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
		<button class="button is-warning mt-5" type="submit">Отправить</button>
	</form>
{% endblock center_left %}

{% block center_right %}
	<form action="{{ url_for('admin.get_report') }}" method="POST">
		<div class="box">
			<p class="subtitle is-4">
				Сформировать отчет
			</p>
			<div class="field">
				{{ get_report.date1.label(class='label is-small') }}
				<div class="control">
					{{ get_report.date1(class='input is-small') }}
				</div>
			</div>
			<div class="field">
				{{ get_report.date2.label(class='label is-small') }}
				<div class="control">
					{{ get_report.date2(class='input is-small') }}
				</div>
				<br>
			</div>
			<p class="subtitle is-5">
				Выберите технику
			</p>
			<div class="field">
				{{ get_report.owner.label(class='label is-small') }}
				<div class="control">
					<select class="input is-small" name="owner" id="owner"
					        hx-get="{{ url_for('admin.owners') }}"
					        hx-target="#machines2">
						{% for value, display in get_report.owner.choices %}
							<option value="{{ value }}">{{ display }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="field">
				{{ get_report.machine.label(class='label is-small') }}
				<div class="control">
					<select class="input is-small" name="machine" id="machines2"
					        hx-get="{{ url_for('admin.models') }}"
					        hx-target="#models2">
						{% for value, display in get_report.machine.choices %}
							<option value="{{ value }}">{{ display }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="field">
				{{ get_report.model.label(class='label is-small') }}
				<div class="control">
					{{ get_report.model(class='input is-small', id='models2') }}
				</div>
			</div>
			<button class="button is-warning mt-3" type="submit">Выполнить</button>
		</div>
	</form>
{% endblock center_right %}

{% block footer %}
	<div class="columns">
		<div class="column">
			<form hx-post="{{ url_for('core.new_sublease') }}" hx-target="#new_sublease" hx-swap="outerHTML">
				{% include'core/sublease_form.html' with context %}
			</form>
		</div>
		<div class="column is-3">
			<form hx-post="{{ url_for('core.new_owner') }}" hx-target="#add_owner" hx-swap="outerHTML">
				{% include 'core/add_owner.html' with context %}
			</form>
		</div>
	</div>
{% endblock footer %}