{% extends 'base/base_core.html' %}
{% from 'core/add_owner.html' import add_owner_input %}

{% block title %}
	Главная страница
{% endblock title %}

{% block page_name %}
	<p class="title is-3 is-flex is-justify-content-center">
		Табель работы спецтехники
	</p>
{% endblock %}

{% block img_under_name %}
	<img src="{{ url_for('static', filename='logo2.png') }}" alt="Logo">
{% endblock %}

{% block center_left %}
	<p class="subtitle is-4">
		Добавить данных в отчет
	</p>
	<form>
		{% for i in range(5) %}
			<div class="columns">
				{% for field in data_form if field.widget.input_type != 'hidden' %}
					<div class="column">
						<div class="field">
							<div class="control">
								{{ field.label(class='label is-small') }}
								{% if field == owner %}
									<select class="input" name="owner" id="owner"
									        hx-get="{{ url_for('admin.owners') }}"
									        hx-target="#machines">
										{% for value, display in field.choices %}
											<option value="{{ value }}">{{ display }}</option>
										{% endfor %}
									</select>
								{% elif field == machine %}
									<select class="input" name="machines" id="machines"
									        hx-get="{{ url_for('admin.models') }}"
									        hx-target="#models">
										{{ field(class='input', id='teh') }}
									</select>
								{% elif field == model %}
									{{ field(class='input', id='models') }}
								{% else %}
									{{ field(class='input is-small') }}
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endfor %}
		<button class="button is-warning mt-5" type="submit">Отправить</button>
	</form>
{% endblock center_left %}

{% block center_right %}
	<div class="box">
		<p class="subtitle is-4">
			Сформировать отчет
		</p>
		<form>
			<div class="field">
				{{ report_form.date1.label(class='label is-small') }}
				<div class="control">
					{{ report_form.date1(class='input is-small') }}
				</div>
			</div>
			<div class="field">
				{{ report_form.date2.label(class='label is-small') }}
				<div class="control">
					{{ report_form.date2(class='input is-small') }}
				</div>
				<br>
			</div>
			<p class="subtitle is-5">
				Выберите технику
			</p>
			<div class="field">
				{{ report_form.owner.label(class='label is-small') }}
				<div class="control">
					<select class="input is-small" name="owner" id="owner"
					        hx-get="{{ url_for('admin.owners') }}"
					        hx-target="#machines">
						{% for value, display in report_form.owner.choices %}
							<option value="{{ value }}">{{ display }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<div class="field">
				{{ report_form.machine.label(class='label is-small') }}
				<div class="control">
					<select class="input is-small" name="machines" id="machines"
					        hx-get="{{ url_for('admin.models') }}" hx-target="#models">
						{{ report_form.machine(class='input', id='teh') }}
					</select>
				</div>
			</div>
			<div class="field">
				{{ report_form.model.label(class='label is-small') }}
				<div class="control">
					{{ report_form.model(class='input is-small', id='models') }}
				</div>
			</div>
			<button class="button is-warning mt-3" type="submit">Выполнить</button>
		</form>
	</div>
{% endblock center_right %}

{% block footer %}
	<div class="columns">
		<div class="column">
			<div class="box">
				<p class="subtitle is-4">
					Добавить технику в базу
				</p>
				<form action="" method="">
					<div class="columns">
						<div class="column">
							<div class="field">
								{{ form.owner.label(class='label is-small') }}
								<div class="control">
									<select class="input is-small" name="add_teh" id="add_teh">
										{% for value, display in form.owner.choices %}
											<option value="{{ value }}">{{ display }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="field">
								{{ form.model.label(class='label is-small') }}
								<div class="control">
									{{ form.model(class='input is-small') }}
								</div>
							</div>
						</div>
						<div class="column">
							<div class="field">
								{{ form.number.label(class='label is-small') }}
								<div class="control">
									{{ form.number(class='input is-small') }}
								</div>
							</div>
						</div>
						<div class="column">
							<div class="field">
								{{ form.type.label(class='label is-small') }}
								<div class="control">
									<select class="input is-small" name="type" id="type">
										{% for value, display in form.type.choices %}
											<option value="{{ value }}">{{ display }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
					<button class="button is-warning" type="submit">Добавить</button>
				</form>
			</div>
		</div>
		<div class="column is-3">
			<div class="box">
				<p class="subtitle is-5">
					Добавить нового поставщика
				</p>
{#				<form action="{{ url_for('core.new_owner') }}" method="POST">#}
				<form hx-post="{{ url_for('core.new_owner') }}" hx-target="#add_owner" hx-swap="outerHTML">
					<div class="field">
						<label class="label is-small">наименование компании</label>
						<div class="control">
							<input class="input is-small mb-2" type="text" name="add_owner" id="add_owner">
						</div>
					</div>
					<button class="button is-warning mb-2" type="submit">Добавить</button>
				</form>
			</div>
		</div>
	</div>
{% endblock footer %}