{% extends 'base/base_page.html' %}

{% block title %}
	Главная страница администратора
{% endblock title %}

{% block page_name %}
	<p class="title is-3 is-flex is-justify-content-center">
		Страница Администратора
	</p>
{% endblock %}

{% block img_under_name %}
{% endblock %}

{% block body %}
	<div class="container">
		<br><br><br><br><br>
		<div class="columns">
			<div class="column is-flex is-justify-content-center">
				<a href="{{ url_for('core.main') }}">
					<button  class="button is-large is-responsive is-warning">
						Табель техники
					</button>
				</a>
			</div>
			<div class="column is-flex is-justify-content-center">
				<a href="{{ url_for('teh.tehnika') }}">
					<button  class="button is-large is-responsive is-success">
						Парк техники
					</button>
				</a>
			</div>
			<div class="column is-flex is-justify-content-center">
				<a href="{{ url_for('emp.employees') }}">
					<button  class="button is-large is-responsive is-info">
						Сотрудники
					</button>
				</a>
			</div>
		</div>
	</div>

	<div class="container mt-6">
		<div class="columns">
			<div class="column is-flex is-justify-content-center">
				<div class="box is-medium">
					<form action="{{ url_for('admin.get_report') }}" method="POST">
						<p class="subtitle is-4 is-flex is-justify-content-center">
							Выберите даты
						</p>
						<div class="columns">
							<div class="column">
								<div class="field">
									{{ report_form.date1.label(class='label is-small') }}
									<div class="control">
										{{ report_form.date1(class='input is-small') }}
									</div>
								</div>
							</div>
							<div class="column">
								<div class="field">
									{{ report_form.date2.label(class='label is-small') }}
									<div class="control">
										{{ report_form.date2(class='input is-small') }}
									</div>
								</div>
							</div>
						</div>
						<br>
						<p class="subtitle is-4 is-flex is-justify-content-center">
							Выберите технику
						</p>
						<div class="columns">
							<div class="column">
								<div class="field">
									{{ report_form.owner.label(class='label is-small') }}
									<div class="control">
										<select class="input is-small" name="owner" id="owner"
										        hx-get="{{ url_for('admin.owners') }}"
										        hx-target="#machines">
											{% for value, display in report_form.owner.choices %}
												<option value="{{ value }}">{{ display }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="field">
									{{ report_form.machine.label(class='label is-small') }}
									<div class="control">
										<select class="input is-small" name="machines" id="machines"
										        hx-get="{{ url_for('admin.models') }}" hx-target="#models">
											{{ report_form.machine(class='input', id='teh') }}
										</select>
									</div>
								</div>
							</div>
							<div class="column">
								<div class="field">
									{{ report_form.model.label(class='label is-small') }}
									<div class="control">
										{{ report_form.model(class='input is-small', id='models') }}
									</div>
								</div>
							</div>
						</div>
						<div class=" is-flex is-justify-content-center">
							<button class="button is-warning" type="submit">Выполнить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}