{% extends 'base/base_page.html' %}

{% block title %}
	Авторизируйтесь!
{% endblock title %}

{% block page_name %}
	<p class="title is-3 is-flex is-justify-content-center">
		Авторизация
	</p>
{% endblock %}

{% block img_under_name %}
{% endblock %}

{% block body %}
	<div class="container">
		<br><br><br>
		<div class="columns">
			<div class="column"></div>
			<div class="column is-3 flex">
				<div class="box">
					<p class="content is-size-5">
						Введите email и пароль
					</p>
					<form action="{{ url_for('auth.login_post') }}" method="POST">
						{% for field in form if field.widget.input_type != 'hidden' %}
							<div class="field">
								{{ field.label(class='label') }}
								<div class="control">
									{{ field(class='input') }}
								</div>
								{% for error in field.errors %}
									<span class="tag is-danger is-light">
										{{ error }}
									</span>
								{% endfor %}
							</div>
						{% endfor %}
						<div class="flex is-justify-content-end">
							<button class="button is-warning" type="submit">Войти</button>
						</div>
					</form>
				</div>
			</div>
			<div class="column"></div>
		</div>
	</div>
{% endblock body %}