.notifications {
    position: absolute;
    top: 0;
    right: 0;
}
.notifications {
    position: absolute;
    top: 0;
    right: 0;
}

tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 1s ease-out;
}