{% extends 'base/base_page.html' %}

{% block body %}
	<div class="block">
		<div class="container">
			<div class="columns">
				<div class="column">
					<div class="box">
						{% block center_left %}{% endblock center_left %}
					</div>
				</div>
				<div class="column is-one-quarter">
					{% block center_right %}{% endblock center_right %}
				</div>
			</div>
		</div>
	</div>

	<div class="block">
		<div class="container">
			{% block footer %}{% endblock footer %}
		</div>
	</div>
{% endblock body %}