<div class="box" id="add_employee">
	<p class="title is-4">
		Добавление сотрудников
	</p>
	<br>
	<div class="field">
		{{ form.name.label(class='label is-small') }}
		<div class="control">
			{{ form.name(class='input is-small') }}
		</div>
	</div>
	<div class="field">
		{{ form.role.label(class='label is-small') }}
		<div class="control">
			<select class="input is-small" name="role" id="role">
				{% for value, display in form.role.choices %}
					<option value="{{ value }}">{{ display }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="field">
		{{ form.email.label(class='label is-small') }}
		<div class="control">
			{{ form.email(class='input is-small') }}
		</div>
		{% for error in form.email.errors %}
			<span class="tag is-danger is-light">
				 {{ error }}
			</span>
		{% endfor %}
	</div>
	<div class="field">
		{{ form.password.label(class='label is-small') }}
		<div class="control">
			{{ form.password(class='input is-small') }}
		</div>
		{% if show_success_message %}
			<span class="tag is-success is-light">
				Сотрудник добавлен
			</span>
		{% endif %}
		<br>
		<div class="field">
			<p class="control is-flex is-justify-content-end">
				<button class="button is-info" type="submit">Добавить</button>
			</p>
		</div>
	</div>
</div>