{% extends 'base/base_page.html' %}

{% block title %}
	Редактирование и добавление сотрудников компании
{% endblock title %}

{% block page_name %}
	<p class="title is-3 is-flex is-justify-content-center">
		Сотрудники
	</p>
{% endblock %}

{% block img_under_name %}
{% endblock %}

{% block body %}
	<div class="container">
		<br><br><br>
		<div class="block">
			<div class="columns">
				<div class="column is-4"></div>
				<div class="column">
					<form hx-post="{{ url_for('emp.add_employee') }}" hx-target="#add_employee" hx-swap="outerHTML">
						{% include 'emp/employee_form.html' with context %}
					</form>
				</div>
				<div class="column is-4"></div>
			</div>
		</div>
	</div>
{% endblock body %}