{% extends 'base/base_page.html' %}

{% block title %}
	Редактирование и добавление сотрудников компании
{% endblock title %}

{% block body %}
	<div class="container">
		<div class="columns">
			<div class="column is-one-fifth">
				<img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
			</div>
			<div class="column is-flex is-justify-content-center">
				<div class="block is-flex is-justify-content-center mt-6">
					<p class="title is-3">
						Сотрудники компании
					</p>
				</div>
			</div>
			<div class="column is-one-fifth">
				<div class="columns">
					<div class="column">
						<a href="{{ url_for('admin.administration') }}">
							<span class="icon">
								<i class="fa-sharp fa-solid fa-house-chimney fa-lg" style="color: #ffc31f;"></i>
							</span>
						</a>
					</div>
					<div class="column">
						<a href="{{ url_for('core.main') }}">
							<span class="icon">
								<i class="fa-solid fa-list-check fa-lg" style="color: #ffc31f;"></i>
							</span>
						</a>
					</div>
					<div class="column">
						<a href="{{ url_for('core.main') }}">
							<span class="icon">
								<i class="fa-sharp fa-solid fa-people-roof fa-lg" style="color: #ffc31f;"></i>
							</span>
						</a>
					</div>
					<div class="column">
						<a href="{{ url_for('auth.logout') }}">
							<span class="icon">
								<i class="fa-solid fa-tractor fa-lg" style="color: #ffc31f;"></i>
							</span>
						</a>
					</div>
					<div class="column">
						<a href="{{ url_for('auth.logout') }}">
							<span class="icon">
								<i class="fa-sharp fa-solid fa-right-from-bracket fa-lg" style="color: #ffc31f;"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<br><br><br><br><br>
		<div class="block">
			<div class="columns">
				<div class="column is-4"></div>
				<div class="column">
					<div class="box">
						<p class="title is-4">
							Добавление сотрудников
						</p>
						<br>
						<form action="{{ url_for('emp.add_employees') }}" method="POST">
							<div class="field">
								{{ form.name.label(class='label is-small') }}
								<div class="control">
									{{ form.name(class='input is-small') }}
								</div>
							</div>
							<div class="field">
								{{ form.role.label(class='label is-small') }}
								<div class="control">
									<select class="input" name="role" id="role">
										{% for value, display in form.role.choices %}
											<option value="{{ value }}">{{ display }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<div class="field">
								{{ form.email.label(class='label is-small') }}
								<div class="control">
									{{ form.email(class='input is-small') }}
								</div>
							</div>
							<div class="field">
								{{ form.password.label(class='label is-small') }}
								<div class="control">
									{{ form.password(class='input is-small') }}
								</div>
{#									<span class="tag is-danger is-light">#}
{#										{{ form.password.error }}#}
{#									</span>#}
							<br>
								<div class="field">
									<p class="control is-flex is-justify-content-end">
										<button class="button is-info" type="submit">Добавить</button>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="column is-4"></div>
			</div>
		</div>
	</div>
{% endblock body %}